{{# each notelist}}
	<div>
		<h1>{{this.title}}</h1>
		<p>{{this.message}}</p>
		<br>
		<p>{{this.createdDate}}</p>
		<p>{{this.finishedDate}}</p>
		<p>{{this.rating}}</p>
		<p>{{this.state}}</p>
		<p>{{this._id}}</p>
	</div>
{{/each}}
